@model MVC_OnlineShop.Models.ChangePasswordViewModel

@{
    ViewBag.Title = "ChangePassword";
}
<br />
<br />
@if (Session["UserId"] != null)
{
    using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            <h3>Change Password:</h3>
            <br />
            @Html.ValidationSummary(true, "Password Change Failed", new { @class = "text-warning" })
            <div class="form-group">
                @Html.LabelFor(model => model.NewPass, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.PasswordFor(model => model.NewPass, htmlAttributes: new { @class = "control" })
                    @Html.ValidationMessageFor(model => model.NewPass, "", htmlAttributes: new { @class = "text-warning" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.NewPassValidation, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.PasswordFor(model => model.NewPassValidation, htmlAttributes: new { @class = "control" })
                    @Html.ValidationMessageFor(model => model.NewPassValidation, "", htmlAttributes: new { @class = "text-warning" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Change Password" class="btn btn-warning" />
                </div>
            </div>
        </div>
    }
}
@if (Session["UserId"] == null)
{
    <h4>You must be logged in to view this page.</h4>
}