<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
@using MVC_OnlineShop.Models
@model MVC_OnlineShop.Models.Customer


@{
    ViewBag.Title = "Edit Profile";
}
<br />
<br />
<!------ Include the above in your HEAD tag ---------->



<div style="padding-top: 30px", class="container emp-profile">
    <form method="post">
        <h4>Edit your profile here! </h4>
        <br />

        <!--Photo-->
        <div class="row">
            <div class="col-md-4">
                <div class="profile-img">
                    @Html.Partial("_ProfileImagePartial")
                </div>
            </div>
        </div>
        <br />
        <!-- a little awkard-->
        @*<div class="col-md-6">
            <div class="profile-head">
                <h4>
                    Welcome @Model.FirstName!
                </h4>
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>
                    </li>
                </ul>
            </div>
        </div>*@


        @*@using(Html.BeginForm("Edit", "Customer", null, FormMethod.Post, new {enctype = "multipart/form-data"}){*@
        @Html.AntiForgeryToken()
        <div class="form-horizontal">

            @Html.ValidationSummary(true, "Profile edits failed. Please enter valid information!", new { @class = "text-warning" })

            <!--This shouldn't be modified by a standard user, leaving here just in case -->
            @*<div class="form-group">
                @Html.LabelFor(model => model.UserId, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.UserId, htmlAttributes: new { @class = "control" })
                    @Html.ValidationMessageFor(model => model.UserId, "", htmlAttributes: new { @class = "text-warning" })
                </div>
            </div>*@

            <div class="form-group">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Email, htmlAttributes: new { @class = "control" })
                    @Html.ValidationMessageFor(model => model.Email, "", htmlAttributes: new { @class = "text-warning" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.UserName, htmlAttributes: new { @class = "control" })
                    @Html.ValidationMessageFor(model => model.UserName, "", htmlAttributes: new { @class = "text-warning" })
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Profile Photo: ", new { @class = "control-label col-md-2" })
                <br />
                <div class="file btn btn-sm btn-primary">
                    <input type="file" id="Avatar" name="upload" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    <input type="submit" value="Save Changes" class="btn btn-light" />
                </div>
            </div>
        </div>
        @*}*@
    </form>
</div>
        
