@using MVC_OnlineShop.Models
@model IEnumerable<MVC_OnlineShop.Models.Product>

@{
    ViewBag.Name = "Page";
    var getType = ViewBag.pageType;
}

@Html.Partial("_bannerPartial")

<div class="container text-center">
    <div id="productListDiv" class="row align-items-start" align="center">
        @{  Html.RenderAction("_ProductTypeList", "Shop", new { Model = Model });  }
    </div>
    <div id="loadingDiv" style="text-align: center; display: none; margin-bottom: 20px;">
        <img alt="Loading" src="@Url.Content("~/Content/Img/ajax-loader.gif")" />
    </div>
</div>

@section InfinateScroll {
    @*Get the product type we are trying to display*@
    <input type="hidden" id="pageType" name="pageType" value="@ViewBag.pageType"/>
    @Html.Hidden("pageUrl", Url.Action("InfinateScrollForProductType", "Shop", new { Model = Model } ))
    @Scripts.Render("~/Scripts/custom/page-scroll-1.0.0.js")
}

