@model IEnumerable<MVC_OnlineShop.Models.Product>

@{
    ViewBag.Title = "Index";
    var item = ViewBag.ProductType;
}

@section SearchBar{ @Html.Partial("_SearchBarPartial") }

@Html.Partial("_bannerPartial")

<div class="container text-center">
    <div id="productListDiv" class="row align-items-start" align="center">
        @{
            Html.RenderAction("_ProductList", "Shop", new { Model = Model });
        }
    </div>
    <div id="loadingDiv" style="text-align: center; display: none; margin-bottom: 20px;">
        <img alt="Loading" src="@Url.Content("~/Content/Img/ajax-loader.gif")" />
    </div>
</div>

@section InfinateScroll {
    @Html.Hidden("portalUrl", Url.Action("InfinateScroll", "Shop"))
    @Scripts.Render("~/Scripts/custom/portal-scroll-1.0.0.js")
}