<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/content/css")
    @Scripts.Render("~/scripts/js")
    @Styles.Render("~/Content/fontawesome")
    @RenderSection("InfinateScroll", false) <!-- Only loads when called on within the view -->
</head>
<body>

    @Html.Partial("_NavBarPartial")

    <div class="container body-content">
        @RenderBody()
        @Html.Partial("_footerPartial")
    </div>
</body>
</html>
