@using System.Web.Mvc;

@if (!string.IsNullOrEmpty(Convert.ToString(Session["UserName"])))
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="#">Welcome: @Session["UserName"]</a>
            </li>
            <li>
                <!-- JS needs to be updated to latest syntax -->
                <!--<a href="javascript:document.GetElementById('logoutForm').submit()">Logout</a>-->
                @Html.ActionLink("Logout","Logout", "UserManagement");
            </li>
        </ul>

        //@Html.Partial("_ShoppingCartPartial")
        @Html.RouteLink("Shop", "Page1", "Shop")

    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            @* @Html.ActionLink("Login", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" }) *@
            @Html.RouteLink("Login", "Login", "Account", new { @class = "nav-link", id = "loginLink" })
        </li>

    </ul>
}
