@*model IEnumerable<MVC_OnlineShop.Models.ProductType>*@

<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Company Name -->
        @Html.RouteLink("Alpha Website", "Index", "Home", new { @class = "navbar-brand" })

        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <!--the active Nav item feature doesn't work and isn't dynamic, only Home stays highlighted-->
                <!--<li class="nav-item active">-->
                <li class="nav-item">
                    <!-- <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a> -->
                    @*@Html.ActionLink("Home", "Index", "Home", new { @class = "nav-link" })*@
                    @Html.RouteLink("Home", "Index", "Home", new { @class = "nav-link" })
                </li>

                <!--non toggle / drop down-->
                @*<li class="nav-item">
                        @Html.RouteLink("Shop", "Portal", "Shop", new { @class = "nav-link" })
                    </li>*@

                <li class="nav-item dropdown">
                    @Html.RouteLink("Shop", "Portal", "Shop", new { @class = "nav-link dropdown-toggle", id = "navbarDropdown", role = "button", data_toggle = "dropdown", aria_haspopup = "true", aria_expanded = "false" })
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                        <!--Broken foreach loop - how do I make the model work??-->
                        @*@foreach (var productType in Model)
                        {
                            @Html.RouteLink("" + @productType, "" + @productType, "Shop", new { @class = "nav-link dropdown-item" })
                        }*@

                        <a class="nav-link dropdown-item" href="~/Shop/Page/Alien">Alien</a>
                        
                    </div>
                </li>
            </ul>

            <!--original HTML drop down menu item for reference-->
            @*
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
                *@

            @Html.Partial("_LoginPartial")

        </div>
    </div>
</nav>